<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Bonjour {{firsName}}!</p>
  <br />
  <p>Vous avez demandé le changement de votre mot de passe.</p>
  <p>S'il s'agit d'une une erreur, ignorez simplement ce mail.</p>

  <p>Pour changer votre mot de passe, cliquez sur le lien ci-dessous</p>
  <p>
    <a href=`{{link}}`>Changer mon mot de passe</a>
  </p>
  <p>Cordialement,</p>
  <p> Ce mail est généré automatiquement, merci de ne pas y répondre directement.</p>
  <br />

</div>
